
        body {
            background-color: #525659;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sidebar {
            padding: 24px 16px;
            gap: 18px;
        }
        .item-header {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
        }